/* 	doublethink AMD simulations: prior (2024-07-19)

	For use with https://github.com/danny-wilson/dblthk_amd_sims.git/amd_sims.nf 

	Usage:
		module add Nextflow/22.04.0
		src=~/GitHub/dblthk_amd_sims
		
		nextflow $src/amd_sims.nf

*/

params {
	ntasks = 10000
	n = 145
	model = "prior"
	publishDir = "."
	simulate_parameters_tau = 9
	simulate_parameters_h = 1
	simulate_parameters_mu = 0.1
	simulate_parameters_seed = 0
	mr_bma_nsim = 0
	alpha = 0.01
	tau = 9
	simulate_independence = false
	repoDir = '~/GitHub/dblthk_amd_sims'
	combine_performance_mem = 14.0
	task_batch_size = 50
	fwer_rho = [0.00, 0.07, 0.10, 0.17, 0.25, 0.39, 0.43, 0.56, 0.59, 0.61, 0.63, 0.66, 0.83, 0.84, 1.00]

	maxp = 10000
}

executor.queueSize = params.maxp

executor.cpus = params.maxp

process {
        executor = "slurm"
        queue = "short"
        beforeScript = "module add R/4.2.1-foss-2022a"

	withName: simulate {
		errorStrategy = "retry"
		maxRetries = 3
		maxErrors = 100
	}
}

env.OMP_NUM_THREADS = 1

